<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li> <!---can be also written {{ url_for('index') }}-->
            <li><a href="/about">About</a></li> <!---can be also written {{ url_for('index') }}-->
            <li><a href="/contact">Contact</a></li> <!---can be also written {{ url_for('index') }}-->
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>