<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/clean-blog.min.css" type="text/css">
    <title>Hello Flask</title>
</head>
<body>
    <nav class="navbar"> <!--class='navbar' is a class provided by clean-blog.min.css-->
        <ul>
            <li><a href="/">Home</a></li> <!---can be also written {{ url_for('index') }}-->
            <li><a href="/about">About</a></li> <!---can be also written {{ url_for('about') }}-->
            <li><a href="/contact">Contact</a></li> <!---can be also written {{ url_for('contact') }}-->
            <li><a href="/career">Career</a></li> <!---can be also written {{ url_for('career') }}-->
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>